/* Custom font for header and decoration text */
@font-face {
  font-family: 'The Seasons Italic';
  src: url('/fonts/The Seasons Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'TheSeasonsBold';
  src: url('/fonts/TheSeasonsBold.ttf') format('truetype');
  font-display: swap;
}

/*Typography styles */
@layer base {
  h1 {
    font-size: clamp(32px, 2vw, 56px);
  }

  h2 {
    font-size: clamp(24px, 2vw, 32px);
  }

  h3 {
    font-size: clamp(20px, 2vw, 24px);
  }

  h4 {
    font-size: 18px;
  }

  a {
    font-size: clamp(16px, 1vw, 18px);
    font-weight: 400; 
    transition: opacity 0.5s ease-in-out;
  }
}

/* Typography classes */
@layer utilities {
  .body-01 {
    font-size: clamp(14px, 1vw, 18px);
    line-height: clamp(22px, 1vw, 30px);
  }

  .body-02 {
    font-size: clamp(14px, 1vw, 16px);
    line-height: clamp(22px, 1vw, 30px);
  }

  .body-03 {
    font-size: clamp(12px, 1vw, 14px);
    line-height: clamp(22px, 1vw, 30px);
  }

  .font-seasons-italic {
    font-family: 'The Seasons Italic', serif;
  }

  .font-seasons-bold {
    font-family: 'TheSeasonsBold', serif;
  }
}