Link {
    font-size: clamp(12px, 1vw, 14px);
    font-weight: 300;
}

Link:hover {
    font-weight: 500;
}

h1 {
    font-size: clamp(32px, 2vw, 56px);
}

h2 {
    font-size: clamp(28px, 2vw, 40px);
}

h3 {
    font-size: clamp(24px, 2vw, 28px);
}

h4 {
    font-size: 20px;
}

.body-01 {
    font-size: clamp(16px, 2vw, 18px);
}

.body-02 {
    font-size: clamp(14px, 2vw, 16px);
}

.body-03 {
    font-size: clamp(12px, 2vw, 14px);
}

.body-04 {
    font-size: clamp(10px, 2vw, 12px);
}